<main class="header-container">
    <div>
        <div class="input">
            <mat-form-field class="form-input">
                <mat-label>Nome da Cidade</mat-label>
                <input matInput placeholder="Digite uma cidade" #inputValue>
            </mat-form-field>
            <button (click)="searchText(inputValue.value)" class="search" matFab aria-label="">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <mat-icon>cloud</mat-icon>
        <h1>{{weatherPrediction.name}}</h1>
        <h3>{{weatherPrediction.date}}</h3>
        <p>{{weatherPrediction.description}}</p>
        <p>Máximas de: {{weatherPrediction.maxTemperature}} °C</p>
        <p>Mínimo de: {{weatherPrediction.minTemperature}} °C</p>
    </div>
</main>